project_id      = "my-project-id"
folder_id       = ""
billing_account = ""
region          = "northamerica-northeast1"
sourcerepo_name = ""
branch_name     = "main"
email_from       = "no-reply@example.com"
email_server_hostname = "box.marcusmonteirodesouza.com"